<h2>Liste de tâches</h2>

<ul><% @tasks.each do |task| %>
  <li><%= link_to task.title, task_path(task) %></li>
  <%= link_to "D", destroy_path(task), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
<% end %>
</ul>

<%= link_to "Add a new task", tasks_new_path %>
